{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<style>
    .button {
        border: black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration:  none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {background-color: #9CDCFE;}
    .button2 {background-color: aquamarine;}

h1 {
  text-shadow: 0 0 3px sandybrown, 0 0 5px salmon;
}
</style>
<p></p>
<br />
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.can_vote %}
            <li><h1>{{ question.question_text }} </h1><a class="button1" href="{% url 'polls:detail' question.id %}" >vote</a>
            <a class="button2" href="{% url 'polls:results' question.id %}">results</a>
        {% else %}
            <li><h1>{{ question.question_text }} </h1><a class="button2" href="{% url 'polls:results' question.id %}">results</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <h3>No polls are available.</h3>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{%  endif %}