{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
{#        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>#}
        <li><p>{{ question.question_text }} </p><a href="{% url 'polls:detail' question.id %}" >Vote</a></li>
        <a href="{% url 'polls:results' question.id %}">results</a>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{%  endif %}