<style>
    .button {
        border: black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration:  none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {background-color: navajowhite;}
</style>

{% if user.is_authenticated %}
    Welcome back, {{ user.username }}
{% else %}
    Please <a href="{% url 'login'%}?next={{request.path}}">Login</a>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <table style="padding: 2ex;">
  {{ form.as_table }}
  </table>
  <button class="button1" type="submit">Login!</button>
  <!-- if your app redirects user to login before accessing some pages, then next contains return url -->
  <input type="hidden" name="next" value="{{next}}" />
</form>